node_modules
public/build
public/hot
public/storage
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

/.vagrant
composer.phar
composer.lock
recaptcha_key.json
package-lock.json
Thumbs.db
/phpunit.xml

/cron.job
/public/css/
/public/js/
/public/fonts/
/public/hero
/public/mix-manifest.json
/public/sitemap.xml
/public/robots.txt

